/* Базовые настройки для адаптивности */
* {
    box-sizing: border-box; // Учитываем padding и border в ширине
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%; // Занимаем всю ширину
    min-height: 100vh; // Минимальная высота - весь экран
    overflow-x: hidden; // Запрещаем горизонтальный скролл
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column; // Вертикальное расположение
    align-items: center; // Центрирование по горизонтали
    justify-content: flex-start; // Контент начинается сверху
    padding: 20px; // Отступы от краев экрана
}

.photo-container {
    width: 100%;
    max-width: 80px; // Максимальная ширина контейнера
    display: flex;
    justify-content: center;
    
    .profile-photo {
       width: 10px;
       height: 10px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #fff;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    }
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .photo-container {
        margin-top: 3vh;
        
        .profile-photo {
            width: 50vmin;
            height: 50vmin;
        }
    }
}